.city-card {
  overflow: hidden;
  box-shadow: 0 2px 20px #e1e5ee;
  cursor: pointer;
  transition: transform 200ms ease-in;
  margin-top: 1.5rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  min-width: 20em;
  max-width: 20em;
  height: 30em;
}

.city-card:hover {
  transform: scale(1.01);
  box-shadow: 0 2px 25px #a8adb7;
}

.city-img {
  -webkit-filter: brightness(80%);
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.city-img:hover {
  -webkit-filter: brightness(60%);
}

.city-name {
  position: relative;
  width: 80%;
  bottom: 15%;
  left: 10%;
  font-family: Poppins-SemiBold, sans-serif;
  color: #fff;
  font-size: calc(15px + .3vw);
}

.attr-card {
  overflow: hidden;
  box-shadow: 0 2px 20px #e1e5ee;
  cursor: pointer;
  transition: transform 200ms ease-in;
  margin-top: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  min-width: 19.5em;
  max-width: 19.5em;
  height: 16em;
  border-radius: 1rem;
}

.attr-card:hover {
  transform: scale(1.01);
  box-shadow: 0 2px 25px #a8adb7;
}

.attr-img {
  -webkit-filter: brightness(70%);
  min-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.attr-img:hover {
  -webkit-filter: brightness(60%);
}

.attr-desc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 93%;
  bottom: 35%;
  left: 7%;
  color: #fff;
}

.attr-name {
  position: relative;
  text-overflow: ellipsis;
  overflow-x: hidden;
  width: 80%;
  font-family: Poppins-SemiBold, sans-serif;
  color: #fff;
  font-size: 16px;
  margin-bottom: 0;
  line-height: 1.6rem;
}

.attr-activity {
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 90%;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 12px;
  margin-bottom: 0;
  line-height: 1rem;
}

.attr-location {
  position: relative;
  text-overflow: ellipsis;
  overflow-x: hidden;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 14px;
  margin-bottom: 0;

}

.acc-card {
  overflow: hidden;
  box-shadow: 0 2px 20px #e1e5ee;
  cursor: pointer;
  transition: transform 200ms ease-in;
  margin-top: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  min-width: 20em;
  max-width: 20em;
  height: 18em;
  border-radius: 10px;
}

.acc-card:hover {
  transform: scale(1.01);
  box-shadow: 0 2px 25px #a8adb7;
}

.acc-desc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 93%;
  bottom: 25%;
  left: 7%;
  color: #fff;
}

.acc-name {
  position: relative;
  text-overflow: ellipsis;
  overflow-x: hidden;
  width: 80%;
  font-family: Poppins-SemiBold, sans-serif;
  color: #fff;
  font-size: 18px;
  margin-bottom: 0;
  line-height: 1.6rem;
}

.acc-rating {
  position: relative;
  text-overflow: ellipsis;
  overflow-x: hidden;
  margin-right: 0.3rem;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 16px;
  margin-bottom: 0;
  line-height: 1.5rem;
}
