
 .sectiontitle {
   color: #232323;
   font-weight: 600;
   font-size: 30px;
   font-family: Poppins, sans-serif ;
   text-align: center;
   margin-bottom: 0;
   margin-top: 0;
}

 body.home {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }